<div class="vh-100 d-flex justify-content-center align-items-center"> <!-- vh-100: ocupa toda la altura de la pantalla -->
  <div class="card">
    <div class="card-header">Subir Archivo</div>
    <div class="card-body">
      <div *ngIf="uploadedFile">
        <h4>Información del Archivo</h4>
        <p><strong>Nombre:</strong> {{ uploadedFile.name }}</p>
        <p><strong>Tipo:</strong> {{ uploadedFile.type }}</p>
        <p><strong>Fecha de Subida:</strong> {{ uploadDate | date }}</p>
        <hr>
        <h4>Vista Previa</h4>
        <div *ngIf="uploadedFile.type.includes('image')">
          <img [src]="previewUrl" class="img-fluid" alt="Vista Previa">
        </div>
        <div>
          <i [ngClass]="getIconClass(uploadedFile.type)"></i>
        </div>
      </div>
      <form (submit)="onFileUpload()">
        <div class="form-group">
          <label for="fileInput">Seleccionar Archivo</label>
          <input type="file" id="fileInput" (change)="handleFileInput($event)" accept=".jpg,.jpeg,.png,.pdf">
        </div>
        <button type="submit" class="btn btn-primary">Subir</button>
      </form>
      
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Registros de Archivos</h2>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre de Archivo</th>
                <th>Fecha de Creación</th>
                <th>Enlace de Descarga</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of registros">
                <td>{{ item.fileId }}</td>
                <td>{{ item.NombreArchivo }}</td>
                <td>{{ item.fechaCreacion | date }}</td>
                <td>
                  <a *ngIf="item.EnlaceDescarga" [href]="item.EnlaceDescarga" target="_blank">Descargar</a>
                  <span *ngIf="!item.EnlaceDescarga">No disponible</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>
